.image-grid {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 30px;
    div {
        transition: transform .5s;
    }
    div:hover, div:active {
        transform: scale(1.1);
    }
}

.descriptor {
    margin: var(--space-2xl) auto;
}

@media (max-width: 460px) {
    h1 {
        text-align: center;
    }
    .image-grid {
        justify-items: center;
        div {
            max-width: 300px;
        }
    }
}