.article-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: var(--space-xl);
  }
  
  
  .article-list-home {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: var(--space-2xl);
  } 
  
  .title {
    display: inline-block;
    font-size: var(--text-lg);
    margin-bottom: var(--space-xs);
    margin-top: var(--space-lg);
    border-bottom: 1.5px solid transparent;
  }
  
  .link {
    text-decoration: none;
  }
  
  .link:hover .title {
    border-bottom-color: var(--primary);
  }
  
  .meta {
    display: flex;
    justify-content: space-between;
  }

  .grid-box{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 30px;
  }

  .grid-image {
    max-width: 350px;
  }

  .content{
      max-width: 1000px;
      margin: 0 auto;
      & blockquote {
        margin-top: 30px;
    }
  }

  .content-images {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:30px;
  }

  @media (max-width: 767px) {
    .grid-box {
      grid-template-columns: 1fr;
    }
    .grid-image {
      margin: 0 auto;
      order: -1;
      max-width: 100%;
    }
  }

  @media (max-width: 460px) {
    .content{
        max-width: 320px;
    }
    .content-images {
      margin: 0 auto;
    }

  }
  