.container {
  border-top: 1px solid var(--border);
  font-size: var(--text-sm);
  margin-top: var(--space-2xl);
  padding: var(--space-2xl) 0;
}

.container a {
  border-bottom: 1.5px solid transparent;
  font-weight: var(--medium);
}

.container a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}
.disclaimer {
  font-size: 11px;
  color: darkgray;
  max-width: 750px;
  text-align: left;
}

.madeby {
  margin-top: 25px;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    text-align: right;
  }
  .madeby {
    margin-top: 0px;
  }
}